@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    This page can be used to used as a view to Developer Workspace, if we want to implement its functionality.
</div>